/* Common classes */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

body{
    width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 12px;
}
/* /Common classes */


/* Site header*/
#site_header{
    width: 100%;
}

.logo{
    width: 120px;
    margin-bottom: 20px;
}
nav{
    margin-bottom: 30px;
}

.unstyled{
    list-style: none;
}

.unstyled > li{
    display: inline;
}

.unstyled > li > a{
    color: gray;
    text-decoration: none;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
}
/* /Site header*/


/* Site Banner */
.banner_img{
    background-image:url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px; 
    background-position: center; 
    border-radius: 15px;
    position: relative;
}
.gray_layer {
    background-color: rgb(138 138 133 / 40%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.banner_text{
    padding: 15px;
    color: white;
    position: absolute;
    width: 60%;
    bottom: 40px;
    left: 20px;
}

.banner_text h2{
    font-weight: 200;
}

/* /Site Banner */


/* Leadership section */

.main_title{
    margin: 30px 0;
}
.main_title h4{
    font-weight: 200;
    color: gray;
}
/* /Leadership section */


.left_column, .right_column{
    width: 20%;
    float: left;
}

.small_gray_layer{
    background-color: rgb(138 138 133 / 40%);
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    border-radius: 15px;
}

.left_column h4, .right_column h4, .central_column h4{
    padding: 10px 0;
    font-weight: 400;
    color: black;
}

/* Left column */
.left_column{
    width: 20%;
    padding-right: 10px;
    color: gray;
}

.left_column_img{
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px; 
    background-position: center; 
    border-radius: 15px;
}
/* /Left column */


/* Central column */

.central_column{
    width: 60%;
    float: left;
    padding: 0 5px;
    color: gray;
}

.central_column_img{
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px; 
    background-position: center; 
    border-radius: 15px;
}
/* /Central column */


/* Right column */

.right_column{
    width: 20%;
    padding-left: 10px;
    color: gray;
}

.right_column_img{
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px; 
    background-position: center; 
    border-radius: 15px;
}
/* /Right column */


/* Site footer */
#site_footer{
    height: 80px;
    background-color: red;
    width: 100%;
}